@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--color-bg: var(--bg);
	--color-bg-subtle: var(--bg-subtle);
	--color-bg-muted: var(--bg-muted);
	--color-fg: var(--fg);
	--color-fg-muted: var(--fg-muted);
	--color-fg-subtle: var(--fg-subtle);
	--color-border: var(--border);
	--color-border-strong: var(--border-strong);
	--color-cta: var(--cta);
	--color-cta-fg: var(--cta-fg);
}

@layer base {
	:root {
		--bg: #ffffff;
		--bg-subtle: #fbfbfa;
		--bg-muted: #f1f1ef;
		--fg: #1a1a1a;
		--fg-muted: #666666;
		--fg-subtle: #787774;
		--border: #e9e9e7;
		--border-strong: #d3d3d0;
		--cta: #1a1a1a;
		--cta-fg: #ffffff;
	}
	.dark {
		--bg: #191919;
		--bg-subtle: #202020;
		--bg-muted: #2f2f2c;
		--fg: #ffffff;
		--fg-muted: rgba(255, 255, 255, 0.64);
		--fg-subtle: rgba(255, 255, 255, 0.5);
		--border: rgba(255, 255, 255, 0.094);
		--border-strong: rgba(255, 255, 255, 0.16);
		--cta: #ffffff;
		--cta-fg: #1a1a1a;
	}
}

html,
body,
#app {
	min-height: 100%;
}
